@import "~react-image-gallery/styles/scss/image-gallery.scss";

$primary-color: rgb(162, 17, 17);
$decorative-font: 'Praise', serif;

html {
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  width: 100%;
  background-color: rgb(251, 238, 223);
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

img {
  max-width: 100%;
}

h3 {
  color: $primary-color;
  font-family: $decorative-font;
  font-size: 2.5em;
  margin: 10px 0;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  border-bottom:2px solid $primary-color;
  width: 80%;
  margin: auto;

  .logo-container {

    
    h1 {
      color: $primary-color;
      font-family: $decorative-font;
      text-align: center;
      font-size: 3em;
      margin: 0;
    }

    p {
      margin: 0;
    }
  }

  nav {
    display: flex;
    align-items: center;
    justify-content: center;

    button {
      margin: 8px;
      border: none;
      background-color: #00000000;
      cursor: pointer;
      font-size: 1em;
    }
  }

}

.hero {
  width: 100%;
  height: 600px;
  background: linear-gradient( rgba(0, 0, 0, .3), rgba(0, 0, 0, 0.3) ), url('../images/cover.jpeg');
  background-position: center;
  background-size: cover;
  margin: 3em 0;
  display: flex;
  justify-content: center;
  align-items: center;

  h2 {
    color: white;
    text-align: center;
    font-size: 3em;
  }

}

.about {
  display: flex;
  align-items: flex-start;
  margin: 10%;

  img {
    width: 50%;
  }

  article {
    margin: 1% 5%;
    width: 100%;

    h3 {
      border-bottom:2px solid $primary-color;
      width: 80%;
    }
  }
}

.work {
  margin: 10%;
  display: flex;

  article {
    max-width: 30%;
    margin: 1% 5%;
  }
  h3 {
    border-bottom:2px solid $primary-color;
    width: 60%;
  }

}

.contact {
  max-width: 400px;
  margin: 10% auto;

  article {
    margin: 2%;
    
    h3 {
      border-bottom: 2px solid $primary-color;
      width: 60%;
    }
    
    .email a {
      color: $primary-color;
      font-weight: bold;
    }
  }
}

@media (max-width: 600px) {
  header {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-bottom: none;

    .logo-container {
      justify-content: center;
      align-items: center;
      text-align: center;
    }

    nav {
      border-top: 2px solid $primary-color;
      padding: 1%;
      margin: 1%;

      button {
        background-color: $primary-color;
        color: white;
      }
      
      a {
        background-color: $primary-color;
        margin: 1%;
      }
    }
  }

  .hero {
    margin-top: .5%;
    height: 300px;
  }

  .about {
    flex-direction: column;

    article {
      margin: 0;
    }
    
    img {
      width: 100%;
    }
  }

  .work {
    flex-direction: column-reverse;

    article, .slider {
      max-width: 100%;
      margin: 0;
    }
  }

  .contact {
    margin: 5% 10%;
    max-width: 100%;
  }
}